[Unit]
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
DefaultDependencies=no
ConditionKernelCommandLine=snapd_recovery_mode=%i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/systemctl start --no-block initrd-mode@%i.target
