[Unit]
After=sysroot.mount
Requires=sysroot.mount
After=sysroot-writable.mount
Requires=sysroot-writable.mount
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/mount -o bind /run /sysroot/run
ExecStart=/usr/bin/chroot /sysroot /usr/lib/core/handle-writable-paths /
#ExecStart=/usr/bin/umount -o bind /sysroot/run
