[Unit]
After=sysroot.mount
Requires=sysroot.mount
After=sysroot-writable.mount
Requires=sysroot-writable.mount
Before=initrd-cleanup.target
After=the-tool.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/mount -o bind /run /sysroot/run
ExecStart=/usr/bin/chroot /sysroot /usr/lib/core/handle-writable-paths /

