[Unit]
Before=initrd-cleanup.target
After=the-tool.service
After=run-mnt-ubuntu\x2ddata.mount
After=run-mnt-base.mount
After=sysroot.mount
After=sysroot-writable.mount
Requires=the-tool.service
Requires=run-mnt-ubuntu\x2ddata.mount
Requires=run-mnt-base.mount
Requires=sysroot.mount
Requires=sysroot-writable.mount

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/mount --type tmpfs tmpfs /sysroot/run
ExecStart=/usr/bin/touch /sysroot/run/fstab
ExecStart=/usr/bin/chroot /sysroot /usr/lib/core/handle-writable-paths / /etc/system-image/writable-paths /run/fstab
ExecStart=/usr/lib/the-modeenv
ExecStartPost=/usr/bin/systemctl --no-block isolate initrd.target
