[Unit]
ConditionKernelCommandLine=|snapd_recovery_mode=run
ConditionKernelCommandLine=|snapd_recovery_mode=install
Description=Reload model

OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly

DefaultDependencies=no

Requires=run-mnt-data.mount
After=run-mnt-data.mount

After=model-available.target
Requires=model-available.target

After=sysinit.target
After=tmp.mount

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=-systemctl daemon-reload
ExecStart=-systemctl --no-block start initrd-root-fs.target
