[Unit]
Before=local-fs.target
Requires=systemd-fsck@dev-disk-by\x2dlabel-ubuntu\x2dboot.service
After=systemd-fsck@dev-disk-by\x2dlabel-ubuntu\x2dboot.service
After=systemd-modules-load.service
Wants=systemd-moudles-load.service
Before=the-tool@run.service

[Mount]
Where=/run/mnt/ubuntu-boot
What=/dev/disk/by-label/ubuntu-boot
Type=ext4
Options=rw
