[Unit]
Before=local-fs.target
Requires=systemd-fsck@dev-disk-by\x2dlabel-ubuntu\x2ddata.service
After=systemd-fsck@dev-disk-by\x2dlabel-ubuntu\x2ddata.service
After=systemd-modules-load.service
Wants=systemd-moudles-load.service
Before=the-tool.service
Wants=the-tool.service
ConditionKernelCommandLine=snapd_recovery_mode=run

[Mount]
Where=/run/mnt/ubuntu-data
What=/dev/disk/by-label/ubuntu-data
Type=ext4
Options=rw
