[Unit]
ConditionKernelCommandLine=snapd_recovery_mode=run
Description=Unlock save partition
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
DefaultDependencies=no

After=snap-measure-model.service
Requires=snap-measure-model.service
RequiresMountsFor=/run/mnt/data
BindsTo=dev-ubuntu-save\x2dluks.device
After=dev-ubuntu-save\x2dluks.device

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/lib/snapd/snap-bootstrap unlock-save
StandardOutput=journal+console
StandardError=journal+console
