[Unit]
DefaultDependencies=no
Before=initrd-fs.target

After=sysroot.mount
Wants=sysroot.mount

After=run-mnt-kernel.mount
After=snap-initramfs-mounts.service

ConditionPathIsMountPoint=/run/mnt/kernel

[Mount]
What=/run/mnt/kernel/firmware
Type=none
Options=bind
