# This filesystem is needed to be prepared with
# initrd-core-tmpfiles-setup.service. This needs to happen
# before we try mount filesystems imported from /etc/fstab from core.
# This means it cannot itself be imported by /etc/fstab.
[Unit]
DefaultDependencies=no
Before=initrd-root-fs.target
RequiresMountsFor=/writable
RequiresMountsFor=/run/mnt/data
Wants=snap-initramfs-mounts.service
After=snap-initramfs-mounts.service

ConditionPathIsMountPoint=/run/mnt/base

[Mount]
What=/run/mnt/data
Type=none
Options=bind
