[Unit]
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
DefaultDependencies=no
After=systemd-tmpfiles-setup.service
After=systemd-modules-load.service
Wants=systemd-modules-load.service
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

Wants=dbus.socket
After=dbus.socket

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/lib/the-tool
StandardOutput=journal+console
StandardError=journal+console
