[Unit]
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
DefaultDependencies=no
After=systemd-tmpfiles-setup.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/lib/the-tool %i
