[Unit]
ConditionKernelCommandLine=snapd_recovery_mode
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/lib/the-tool
