Source: ubuntu-core-initramfs
Section: utils
Priority: optional
Maintainer: Dimitri John Ledkov <xnox@ubuntu.com>
Build-Depends: debhelper-compat (= 12), dh-python, python3:any, usrmerge, dracut-core, quilt, busybox-initramfs
Standards-Version: 4.4.1
Homepage: https://launchpad.net/ubuntu-core-initramfs

Package: ubuntu-core-initramfs
Architecture: amd64 arm64
Depends: ${python3:Depends}, ${misc:Depends}, binutils, systemd, dracut-core
Description: standard embedded initrd
 Standard embedded initrd implementation to be used with Ubuntu Core
 systems. Currently targetting creating BLS Type2 like binaries.
